<a href="https://colab.research.google.com/github/PHCoder05/advance-python-practice/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series()
print(s)

Series([], dtype: object)

**Create Series from numpy library**

In [ ]:
df = np.array(['a', 'b' , 'c', 'd' , 'e'])
s =

**Create Empty DataFrame**

In [1]:
# prompt: Create Empty DataFrame using pandas library

import pandas as pd
import numpy as np
#
s = pd.Series()
print(s)
# **Create Series from numpy library**
df = np.array(['a', 'b' , 'c', 'd' , 'e'])
s = pd.Series(df)
# **Create Empty DataFrame**
df = pd.DataFrame()
print(df)

Series([], dtype: object)
Empty DataFrame
Columns: []
Index: []

**Create pandas Series**

In [ ]:
data = pd.Series([10,20,30,40,50])

**print Axes**

In [ ]:
data = pd.Series([10,20,30,40,50])
print("1.Axes")
print(data.axes)

1.Axes
[RangeIndex(start=0, stop=5, step=1)]

**Dtype**

In [ ]:
print("2. Dtype")
print(data.dtype)

2. Dtype
int64

**3. Empty**

In [ ]:
print("3. Empty")
print(data.empty)

3. Empty
False

**4. Ndim**

In [ ]:
print("4. Ndim")
print(data.ndim)

4. Ndim
1

**5. Size**

In [ ]:
print("5. Size")
print(data.size)

5. Size
5

6. **Values**

In [ ]:
print("6. Values")
print(data.values)

6. Values
[10 20 30 40 50]

**# Descriptive Statistics**

** Create a pandas DataFrame**

In [ ]:
# using pandas library

import pandas as pd
import numpy as np

# Create a pandas DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 28, 35],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}

df = pd.DataFrame(data)
print(df)

**Agrregate Function : **

In [ ]:

# Count non-null values in each column
print(df.count())

# Calculate the mean of numeric columns
print(df['Age'].mean())

# Find the minimum value in the 'Age' column
print(df['Age'].min())

# Find the maximum value in the 'Age' column
print(df['Age'].max())

# Calculate the standard deviation of the 'Age' column
print(df['Age'].std())

# Calculate the median of the 'Age' column
print(df['Age'].median())

# Get a summary of descriptive statistics for numeric columns
print(df.describe())